/*
Color Theme:
*/
:root {
  --dark-color: #3e000c;
  --bg-color: #8b2635;
  --bg-color-title: #14110f;
  --text-color-title: #f7f7f2;
  --fg-color: #2d2d2a;
  --text-color: #e5dcc5;
}

/*
Everything
*/
* {
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*
Header
*/
header {
  background-color: var(--bg-color-title);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: 100%;
}

header h1 {
  text-align: center;
  color: var(--text-color-title);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header h2 {
  text-align: center;
  text-decoration: overline;
  margin-top: 0.25%;
}

header h3 {
  text-align: center;
  font-size: medium;
}

/*
Body
*/
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  margin: 30px;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: -10px;
  padding: 10px;
  background-color: var(--fg-color);
  box-shadow: 6px 8px 20px var(--dark-color);
}

section h2 {
  font-size: xx-large;
}

section h3 {
  font-size: x-large;
  text-decoration: underline;
}

section:nth-child(1) {
  margin-top: 30px;
}

section:last-child {
  margin-bottom: 30px;
}

article {
  margin-top: 1vh;
}

article p {
  text-align: start;
}

/*
Footer
*/
footer {
  text-align: center;
  background-color: var(--dark-color);
  color: var(--text-color);
  padding: 10px;
  bottom: 0px;
  width: 100%;
  position: static;
}
